/* .profile{
    width:200px; 
    display:block; 
    margin-left:auto; 
    margin-right : auto;
}

.aaa{
    font-size: 50px; 
    font-weight: 900;
    text-align: center;
}
p {
    text-align: center;
}
.nope{
    border:1px dotted ; 
    padding:30px;
    swidth: 200px; 
    margin : 50px;
    display:block; 
    margin-left:auto; 
    margin-right : auto;
    box-shadow: 10px 5px 5px black;
    background-color: aquamarine;
} */


.container{
    width : 800px;
    font-size: 0px;
}

.header{
    width :100%;
    height : 50px;
    background: aquamarine;
}

.left-menu{
    width:20%;
    height:400px;
    background: cornflowerblue;
    /* float: left; */
    display : inline-block;
    font-size : 20px;
    vertical-align: top;
}

.right{
    width: 80%;
    height: 400px;
    background: coral;
    /* float: left; */
    display : inline-block
}

.footer{
    width:100%;
    height:100px;
    background-color: grey;
    /* clear:both; */
}





.head{
    width: 800px;
    margin-left: auto;
    margin-right:auto;
    display: block;
}
.explain{
    width: 70%;
    height: 200px;
    background: red;
    float:left;
    
}
.picture{
    width: 30%;
    height: 200px;
    background: aquamarine;
    float:left;
}

.ggggw{
    float: left;
}

.pioo{
    width:80px;
    float:left;
}

.navbar li {
    display: inline-block;
    width:60px;
    text-align: center;
    background: #eee;
    
    border-radius: 5px;
}
.navbar a {
    color:black;
    font-size: 40px;
    text-decoration: none;
}