.flex-item{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 25px;
}
.flex-container{
    height: 500px;
    display: flex;
    justify-content: center; 
    /* justify-content: flex-end; */
    /* justify-content: flex-start;   */
    /* flex-direction: column; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
}

.flex-container2{
    display: flex;
}
.flex22{
    width: 100px;
    height: 50px;
    background-color: red;
    /* margin: 5px; */
    /* text-align: center; */
    color: white;
    font-size: 25px;
    align-items: center;
    /* margin-right: 15px; */
    padding: 5px;
}




 .box1{
    width: 80%;
    max-width: 1000px;
    
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
   
}

.box3{
    /* display: inline-block; */
    /* text-align: center; */
    float: left;
    width: 25%;
    /* padding: 10px; */
}

@media screen and (max-width:1200px){
    .box3{
        width: 25%;
    }
}
@media screen and (max-width:900px){
    .box3{
        width: 50%;
    }
}
@media screen and (max-width:500px){
    .box3{
        width: 100%;
    }
}