.background-1{
    width: 90%;
    height: 200px; 
    background: white;
    padding: 30px;
    margin-top: 30px;
   display: flex;

}

.img1{
    padding: 15px;
    margin-top: 15px;
}

.whatt{
    /* display: flex; */
    font-size: 10px;
    margin-top: 40px;
    padding: -5px;
}
.hihihi{
    border-left: 1px solid black;
}